<%= form_for(@uzytkownik) do |f| %>
  <% if @uzytkownik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uzytkownik.errors.count, "error") %> prohibited this uzytkownik from being saved:</h2>

      <ul>
      <% @uzytkownik.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :haslo %><br />
    <%= f.text_field :haslo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
