<p id="notice"><%= notice %></p>

<p>
  <b>Tytul:</b>
  <%= @wpi.tytul %>
</p>

<p>
  <b>Tresc:</b>
  <%= @wpi.tresc %>
</p>


<%= link_to 'Edit', edit_wpi_path(@wpi) %> |
<%= link_to 'Back', wpis_path %>
